.loginBtn{ 
    width: 100%;
    background-color: #27406d; 
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.loginBtn:hover{
    background-color: #1d4ed8;
    cursor: pointer;
}

.LoginDEscTitle{
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}