.searchContainer {
  display: flex;
  padding: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 500px;
  width: 100%;
}

.searchBar {
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  width: 100%;
  max-width: 400px; 
  outline: none;
  padding-right: 50px; 
  box-sizing: border-box; 
  height: 40px;
}

.searchBar:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Container for input and button to align them */
.searchWrapper {
  position: relative;
  width: 100%;
}

/* Style the search button */
.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 25px; /* Adjust position on the right */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  padding: 10px 15px;
  border: 2px solid #27406d;
  border-radius: 25px;
  background-color: #27406d;
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  height: 40px;
}

/* Hover effect for the button */
.searchButton:hover {
  background-color: #162746;
  border-color: #162746;
}

/* Active effect for the button */
.searchButton:active {
  background-color: #162746;
  border-color: #162746;
}

.suggestionsList {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  background: white;
  z-index: 1000;
}

.suggestionsList li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.suggestionsList li a {
  text-decoration: none;
  color: black;
}

.suggestionsList li:hover {
  background: #f0f0f0;
}
